<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cats</title>
</head>
<body>
  <h1>¿QUÉ GATO TE REPRESENTA?</h1>
<img src="imagenes/gato.jpg" alt="Gato">
<img src="imagenes/gato1.jpg" alt="Gato1">
<img src="imagenes/gato2.jpg" alt="Gato2">
<img src="imagenes/gato3.jpg" alt="Gato3">
</body>
</html>
