<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Car</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <form> <style>text-align: center;</style>
    <label for="fname">Model:</label><br>
    <input type="text" id="fname" name="fname"><br>

    <label for="lname">Brand:</label><br>
    <input type="text" id="lname" name="lname">

    <label for="lname">Year:</label><br>
    <input type="text" id="lname" name="lname">

    <label for="lname">Color:</label><br>
    <input type="text" id="lname" name="lname">
  </form>
</body>
</html>